<h2>{{title}}</h2>       
            <ul>
               <li *ngFor="let course of courses">
                {{course}}
               </li>
            </ul>
             <input [disabled]="true" type="text" id="{{myId}}" value="unite">
             <h2 [style.color]="'purple'">unite mashigo</h2>
             <h2 [ngStyle]="titleStyles">style binding</h2>
             <input #myInput type="text">
             <button (click)="logMessage(myInput)">log</button>
             <button (click)="onClick($event)">Greet</button>  <!--DOM event you want to listen to -->